{% extends 'v2/pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> About Our Company </h1>
Knowing who is behind and funding privacy services is important.
This post has the information about our company and how we operate.
<hr/>

<h3> How many people own Infinity Search? </h3>
Only one. This service started out as a side project and has now became a full service. We now have a
small team that works on different aspects of the service such as the design, the desktop app, and the
custom search APIs.
<hr/>

<h3> Does Infinity Search have any outside investors? </h3>
No, we do not have any outside investors. This means that there are no conflicts of interest between who
made this service and who is funding it.
<hr/>

<h3> Where is Infinity Search located? </h3>
We are located in the United States in the state of Oklahoma.

<br><br>
{% endblock %}
