{% extends 'v2/pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Infinity Search Press Coverage </h1>
<hr/>

<div class="box">
    <a href="https://www.computing.co.uk/feature/3084966/escape-from-google-12-privacy-search-engines-review"> Escape from Google: 12 privacy-promoting search engines reviewed </a>
    <br>
</div>

<div class="box">
    <a href="https://www.computing.co.uk/feature/3084966/escape-from-google-12-privacy-search-engines-review"> Escape from Google: 12 privacy-promoting search engines reviewed </a>
    <br>
</div>
{% endblock %}

