{% extends 'v2/pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Privacy Resources </h1>


<ul>
    <li><a href="https://restoreprivacy.com/mission"> https://restoreprivacy.com/mission </a></li>
    <li><a href="https://alternativeto.net/list/13679/privacy-products/">
        https://alternativeto.net/list/13679/privacy-products/ </a></li>
    <li><a href="https://restoreprivacy.com/google-alternatives/">
        https://restoreprivacy.com/google-alternatives/ </a></li>
    <li><a href="https://www.privacytools.io"> https://www.privacytools.io </a></li>
</ul>
{% endblock %}
