{% extends 'v2/pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Infinity Search Privacy Policy </h1>
<hr/>

<h2> Information Collected </h2>

We use <a href="https://usefathom.com/"> Fathom Analytics</a> to monitor site traffic. This
service allows us to get site usage metrics while also respecting the privacy of our users.
It tells us how many people are using our website but doesn't store any information about who
the users are and it doesn't install cookies to your device.

<hr/>

<h2> Information Not Collected </h2>

We do not collect or log data about the individual users who access this website. This means that we do not
log IP addresses or user-agent strings. We also do not use cookies at all, which is one the most
common ways that other websites attempt to track you online, even after you have left their site.

<hr/>

<h2> Information Shared </h2>

Since we are using third-party APIs to gather the search results, those services can view the
searches that we make. They cannot see, however, who made the search because it
appears to them as our service making the search. This is the same way that
<a href="https://duckduckgo.com/"> DuckDuckGo</a> works as well.

<hr/>

<h2> How We Value Your Privacy </h2>

We value your privacy here by simply never straying away from the privacy policy described
above. Our model is designed to respect the privacy of all our users.

{% endblock %}
