<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
    <style>
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

<div style="text-align: center; padding-bottom: 15px; margin-top: 40px;">
    <a href="/" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="75px" height="75px" alt=""></a>
    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="content" style="padding-left: 20%; padding-right: 20%">
    <h1 class="title is-1"> Contact Us </h1>
    <hr/>
    <h2> Send Us A Message </h2>
    You can contact us through email at <a href="mailto:infinitysearch@protonmail.com">
    infinitysearch@protonmail.com </a>
    <hr/>
    <h2> Follow Us On Twitter </h2>
    Keep up with us at <a href="https://twitter.com/InfinitySearch1"> https://twitter.com/InfinitySearch1 </a>
    <hr/>
    <h2> View Our Repositories On GitLab </h2>
    See our open source projects and code at <a href="https://gitlab.com/infinitysearch">
    https://gitlab.com/infinitysearch </a>
    <hr/>
    <h2> Download Our Firefox Extension </h2>
    Download our extension to get a custom shortcut to our site at
    <a href="https://addons.mozilla.org/en-US/firefox/addon/infinity-search">https://addons.mozilla.org/en-US/firefox/addon/infinity-search</a>

    <br>
</div>

<footer class="footer" style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: white">
    <div class="column is-half is-offset-one-quarter">
    <div class="columns is-vcentered">
        <a class="column is-one-quarter">
            About
        </a>
        <a class="column is-one-quarter">
            Blog
        </a>
        <a class="column is-one-quarter">
            Privacy
        </a>
        <a class="column is-one-quarter">
            Contact
        </a>
    </div>
    </div>
</footer>
</body>

</html>
