
.top-container {
    display: flex;
    flex-direction: row;
}


.main-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    flex: 3%;
}

.middle_left_container {
    flex: 75%;
    /*box-shadow: 0 0 0 1pt rgb(150, 150, 150);*/
    margin-left: 3%;
    margin-right: 3%;

}

.middle_right_container {
    flex: 25%;
    /*box-shadow: 0 0 0 1pt rgb(150, 150, 150);*/
    margin-right: 2%;
    margin-left: 1%;
}

.right-container {
    flex: 3%;
}

.fried {
    font-size: 20px;
    /*font-size: 20vw;*/
    text-align: left;
    line-height: 200%;
}

.snippet {
    /*    Do something*/
}


.header {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.infinity {
    margin-top: -26px;
    margin-left: 8%;
    /*margin-right: 800px;*/
    /*box-shadow: 0 0 0 1pt rgb(150, 150, 150);*/
}

.logo {
    display: inline;
    margin-left: 3%;
    /*display: inline-block;*/
}

.search {
    font-size: 10px;
    text-align: left;
    margin-top: 5px;
    margin-left: 3%;
    margin-right: 30%;
}

.results {
    font-size: 20px;
    text-align: left;
    line-height: 200%;
    /*padding-left: 50px;*/
}

.rome {
    /*font-family: "Times New Roman", Helvetica, sans-serif;*/
    /*letter-spacing: 1px;*/
}

body {
    margin: 0;
    width: 100%;
    height: 100%;

    padding-top: 10px;;

    color: black;
    font-family: "Source Sans Pro", Helvetica, sans-serif;


    /*font-size: 20pt;*/
    font-weight: 300;
    line-height: 1.65em;

    background-color: white;
}

hr {
    height: 1px;
    border: 0;
    color: rgb(210, 210, 210);
    background-color: rgb(210, 210, 210);
    margin-right: 0;

}

.horizontal {
    height: 12px;
    border: 0;
    box-shadow: inset 0 9px 9px -9px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.results_container {
    /*background-color: rgb(229, 229, 229);*/
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    /*margin-right: 500px;*/

    /*margin-top: 30px;*/

    /*background-color: rgb(255, 255, 255);*/
    /*background-color: rgb(245, 245, 245);*/

    /*text-align: center;*/
    /*align: center;*/
    /*margin: 0 auto;*/
    /*width: 22%;*/
    /*border-radius: 4px;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 12px;*/
    /*outline: 1px solid rgb(200, 200, 200);*/
    /*box-shadow: 0 0 0 1pt rgb(220, 220, 220);*/

}

input[type=text], select {
    font-size: .95rem;
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}


.result_container {
    background-color: white;
    /*background-color: rgba(252, 252, 252, 1);*/

    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;

    border-radius: 3px;

    /*box-shadow: 0 0 0 1pt rgb(235, 235, 235);*/

    /*box-shadow: 0 0 0 1pt rgb(210, 210, 210);*/
    /*border: 1pt solid rgb(240, 240, 240);*/
    border: 1pt solid rgb(210, 210, 210);

    font-family: "Source Sans Pro", Helvetica, sans-serif;
    /*font-size: 20pt;*/
    font-weight: 300;
    line-height: 1.65em;


}

.external_result_container {
    background-color: white;
    /*background-color: rgba(252, 252, 252, 1);*/

    /*margin-left: 11%;*/
    /*margin-right: 30%;*/

    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 12px;
    border-radius: 3px;

    /*box-shadow: 0 0 0 1pt rgb(235, 235, 235);*/
    /*box-shadow: 0 0 0 1pt rgb(210, 210, 210);*/
    border: 1pt solid rgb(210, 210, 210);
    /*border: 1pt solid rgb(240, 240, 240);*/


      /*box-shadow:*/
      /*0 2.8px 2.2px rgba(0, 0, 0, 0.034),*/
      /*0 6.7px 5.3px rgba(0, 0, 0, 0.048),*/
      /*0 12.5px 10px rgba(0, 0, 0, 0.06),*/
      /*0 22.3px 17.9px rgba(0, 0, 0, 0.072),*/
      /*0 41.8px 33.4px rgba(0, 0, 0, 0.086),*/
      /*0 100px 80px rgba(0, 0, 0, 0.12)*/

    /*box-shadow:         3px 3px 5px 6px #ccc;*/
    /*box-shadow: 1px 1px 1px 1px #ccc;*/

    /*box-shadow:*/
    /*  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),*/
    /*  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),*/
    /*  12.5px 12.5px 10px rgba(0, 0, 0, 0.06)*/



}

.result_container:hover {
    /*box-shadow: 0 0 0 1pt rgb(200, 200, 200);*/
    /*box-shadow: 0 0 0 1px green;*/
    border: 1pt solid red;

    /*box-shadow: 1px 1px 1px 1px #ccc*/

    /*box-shadow:*/
    /*  2.8px 2.8px 1px rgba(0, 0, 0, 0.15)*/
    /*  !*6.7px 6.7px 1px rgba(0, 0, 0, 0.048)*!*/
    /*  !*12.5px 12.5px 10px rgba(0, 0, 0, 0.06)*!*/

    box-shadow:
      2.8px 2.8px 2.2px rgba(0, 0, 0, 0.15),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.06)


}

.external_result_container:hover {
    /*box-shadow: 0 0 0 1pt rgb(200, 200, 200);*/
    /*box-shadow: 0 0 0 1px green;*/
    border: 1pt solid red;

    /*box-shadow:*/
    /*  0 2.8px 2.2px rgba(0, 0, 0, 0.034),*/
    /*  0 6.7px 5.3px rgba(0, 0, 0, 0.048),*/
    /*  0 12.5px 10px rgba(0, 0, 0, 0.06)*/
      /*0 22.3px 17.9px rgba(0, 0, 0, 0.072),*/
      /*0 41.8px 33.4px rgba(0, 0, 0, 0.086),*/
      /*0 100px 80px rgba(0, 0, 0, 0.12)*/

    /*box-shadow:*/
    /*  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),*/
    /*  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),*/
    /*  12.5px 12.5px 10px rgba(0, 0, 0, 0.06)*/

    box-shadow:
      2.8px 2.8px 2.2px rgba(0, 0, 0, 0.15),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.06)

}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(230, 230, 230);*/
    padding-bottom: 25px;

}

footer {
    position: relative;
    text-align: center;
    color: rgb(31, 93, 213);
    bottom: 0;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 25px;
    /*font-size: 2px;*/
    /*height: 10px;*/
}

/* top links ------------------------------------------------ */
/* unvisited link */
a.toplink:link {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

/* visited link */
a.toplink:visited {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

/* mouse over link */
a.toplink:hover {
    color: black;
    /*color: rgb(31, 93, 213);*/
    font-size: 20px;
    text-decoration: underline;
}

/* selected link */
a.toplink:active {
    color: black;
    text-decoration: none;
    font-size: 20px;

}

/* bottom links ------------------------------------------------ */

/* unvisited link */
a.bottomlink:link {
    color: rgb(31, 93, 213);
    /*color: rgb(188, 29, 15);*/
    /*font-size: 15px;*/
    font-size: 17px;
    /*font-size: 1vw;*/

    text-decoration: none;
}

/* visited link */
a.bottomlink:visited {
    color: rgb(31, 93, 213);
    /*color: rgb(188, 29, 15);*/
    /*font-size: 15px;*/
    font-size: 17px;
    /*font-size: 1vw;*/
    text-decoration: none;
}

/* mouse over link */
a.bottomlink:hover {
    /*color: black;*/
    font-size: 17px;
    /*font-size: 1vw;*/
    color: rgb(31, 93, 213);
    text-decoration: underline;
}

/* ----------------------- */

/* unvisited link */
a:link {
    color: rgb(31, 93, 213);
    font-size: 15px;
    /*font-size: 1vw;*/

    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(31, 93, 213);
    font-size: 15px;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    color: rgb(31, 93, 213);
    text-decoration: underline;
}

/* selected link */
a:active {
    color: rgb(31, 93, 213);
    color: black;
    text-decoration: none;
}

a.fill {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(31, 93, 213);

}

/* Style the top navigation bar */
.navbar {
    display: flex;
    justify-content: center;
    /*background-color: #333;*/
    background-color: white;
    font-size: 20pt;

}

/* Style the navigation bar links */
.navbar a {
    color: black;
    padding: 14px 40px;
    text-decoration: none;
    text-align: center;
    /*color: rgb(31, 93, 213);*/

}

/* Change color on hover */
.navbar a:hover {
    /*background-color: #ddd;*/
    color: red;
}

.checkbox-container {
    display: flex;
    align-items: stretch;
    /*background-color: #f1f1f1;*/
}

.checkbox-container > div {
    /*background-color: DodgerBlue;*/
    /*color: white;*/
    /*width: 100px;*/
    /*margin: 10px;*/
    text-align: left;
    /*line-height: 75px;*/
    font-size: 16px;
}

.ia_image {
    width: 100%;
    max-width: 200px;

    height: 100%;
    max-height: 200px;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .navbar, .main-container {
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .middle_right_container {
        margin-left: 3%;
    }
}



/* unvisited link */
a.link_container:link {
    color: rgb(31, 93, 213);
    /*color: rgb(188, 29, 15);*/
    /*font-size: 15px;*/
    font-size: 17px;
    /*font-size: 1.18vw;*/
    text-decoration: none;
}

/* visited link */
a.link_container:visited {
    color: rgb(31, 93, 213);
    /*color: rgb(188, 29, 15);*/
    /*font-size: 15px;*/
    font-size: 17px;
    text-decoration: none;
}

/* mouse over link */
a.link_container:hover {
    /*color: black;*/
    font-size: 17px;
    /*font-size: 1.18vw;*/
    color: rgb(31, 93, 213);
    text-decoration: none;
}

a.link_container:active {
    box-shadow: inset 0 1px 0 1px rgba(132, 138, 184, 0.11), inset 0 1px 3px 0 rgba(93, 100, 148, 0.5);
    transition: none !important;
}

.favicon_img {
    width: 16px;
    height: 16px;
}


.jake:hover {
    text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/*For the tabs */

.tab-container {
  display: flex;
  flex-direction: row;
  /*background-color: DodgerBlue;*/
}

.tab-container > div {
  /*background-color: #f1f1f1;*/
  /*width: 100px;*/
  margin-right: 9px;
  /*text-align: center;*/
  /*line-height: 75px;*/
  /*font-size: 30px;*/
}


/* unvisited link */
a.tab-link:link {
    color: grey;
    text-decoration: none;
}

/* visited link */
a.tab-link:visited {
    color: grey;
    text-decoration: none;
}

/* mouse over link */
a.tab-link:hover {
    color: black;
    text-decoration: none;
}

.image_container {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: white;
    /*background-color: rgba(252, 252, 252, 1);*/

    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;

    /*box-shadow: 0 0 0 1pt rgb(235, 235, 235);*/

    /*box-shadow: 0 0 0 1pt rgb(210, 210, 210);*/
    /*border: 1pt solid rgb(240, 240, 240);*/
    border: 1pt solid rgb(210, 210, 210);
}


/* Dropdown Buttons --------------------------- */
.dropbtn {
    /*background-color: #3498DB;*/
    /*color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    /*border: none;*/
    /*cursor: pointer;*/
}

.dropbtn:hover, .dropbtn:focus {
    /*background-color: #2980B9;*/
}

.dropdown {
    position: relative;
    display: inline-block;
    color: grey;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 400px;
    overflow-y: scroll;
    border-radius: 4px;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown a:hover {
    /*background-color: #ddd;*/
    color: black;
    text-decoration: none;
}

.show {
    display: block;
}

.current_tab {
    text-decoration: underline !important;
    color: black !important;
}
