<!DOCTYPE html>
<html>
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="/static/css/designs/one/home1.css">

    <link rel="search" type="application/opensearchdescription+xml" title="Infinity Search" href="https://infinitysearch.co/default_search.xml">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <img onClick="window.open('/', '_self')" style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png"
     width="90px" height="90px" alt="">
    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;"> INFINITY SEARCH </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <div class="searchContainment Site-content">
            <form action="/results" method="post">
                <p class="search">
                    <input type="text" placeholder="Search for anything on the web" name="Search" width="300">
                    {#                    <input type="submit" value="Search">#}
                    <button style="background-color: white; padding: 13px 20px;">
                        <i class="fa fa-search" style="font-size: 32px; color: rgb(31, 93, 213);"></i>
                    </button>
                    <br>
                </p>
            </form>
            <div>
            </div>
            <div class="description">
                {{ description }}
                <a href="about" class="toplink" style="font-size: 20px"> Learn more about Infinity Search</a>
                <br><br>

                <div style="padding-top: 30px;">
                    <a href="/de" class="toplink"> Verwenden Der Infinity Search Auf
                        Deutsch </a>
                    <br>
                    <a href="/es" class="toplink"> Usar Infinity Search En Español </a>
                </div>

            </div>
        </div>
    </div>
    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about">About</a>
    <a href="/content"> Blog </a>
    <a href="/pro"> Infinity Pro </a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/contact">Contact</a>
</div>
</body>

</html>
