<!DOCTYPE html>
<html>
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <a href="/" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="75px" height="75px" alt=""></a>

    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <br>
        <h1> Modern search engines aren’t broken, they’re just over personalized.  </h1>
        <hr/>
        <div class="article">

            The thing about Infinity Search is that it is not anything groundbreaking and it is literally built off of
            bing with our current implementation (we are adding results from Mojeek as time goes on). If you go on Bing
            and make a search, however, you will probably get a worse set of results than Infinity Search. This is because
            of two reasons: <br>

            1. Bing overpersonalies its search and tries to identifiy everything that it can about you to give you
            "custom" results best suited for yourself. In theory, this could work out well but in reality all you get is
            non-uniform search results for people based off of their gathered statistics.

            <br><br>

            From a user experience standpoint, Bing also adds many more additions than just web results to their search
            such as images, news, and large image previews. This can be helpful, but it can also just be seen as clutter
            for someone who only wants the search results displayed in a uniform matter. It also means that they display
            less results per page, which means that users would have to venture into the second page of results, which
            no one likes to do.

            <br><br>

            Infinity Search is reverting search style back to before this was a thing and all users got the same results
            for the same searches.

            <br><br>

            This same issue applies to ads. Everyone has probably shopped for something once and then every ad that they
            see for a few days is related to that same topic because your search engine and advertisers were able to
            identify you. This was cool in the initial days of internet advertising but now many people believe that
            it has gone too far and that the ad results are even less relevant than before. We're not even going to get into
            how this is already an invasion of privacy.

            <br><br>

            We're bringing our advertisements back to the original days where the advertisements that are displayed are
            based off of what was searched for or even just being an internet billboard without any reference to what
            the users searched for.

            <br><br>

            Basically, Bing, Google, and everyone else has the ability to make their platforms have uniform and efficient
            results, but it would go against the grain of what their advertisers and donors want. We do not have this issue
            and we are dedicated from the beginning to not let this happen to us.


            <br><br>

            Our biggest point here is that even by making a metasearch engine that was only based off of the Bing search
            engine in the beginning, it had more uniform and relevant results than Bing.com because we don't overgeneralize
            our results.



        </div>

    </div>
    <div class="side-right"></div>
</div>

<div class="navbar">
    <a href="/about">About</a>
    <a href="/content"> Blog </a>
    <a href="/pro"> Infinity Pro </a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/contact">Contact</a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
(function(f, a, t, h, o, m){
a[h]=a[h]||function(){
(a[h].q=a[h].q||[]).push(arguments)
};
o=f.createElement('script'),
m=f.getElementsByTagName('script')[0];
o.async=1; o.src=t; o.id='fathom-script';
m.parentNode.insertBefore(o,m)
})(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'FZMFTWHZ');
fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>

</html>
