{% extends 'articles/article_layout_english.html' %}
{% block content %}
<h1> Our Browser Extension Guide </h1>
<hr/>
<h2> Browser Extensions To Use </h2>
Here is a list of extensions that you can install to have more control over your browser and its capabilities:
<ul>
    <li>
        <a href="https://addons.mozilla.org/firefox/addon/umatrix/"> uMatrix</a>: Allows you to choose what scripts and
        content that you want to allow from websites. Can be very helpful from blocking third party scripts and cookies,
        especially tracking ones.
    </li>
    <li>
        <a href="https://addons.mozilla.org/firefox/addon/ublock-origin/"> uBlock Origin</a>: Ad blocker. There are other
        ad blockers out there as well but uBlock has been a top-tier one for a very long time now.
    </li>
    <li>
        <a href="https://www.eff.org/privacybadger"> Privacy Badger </a>: Customizable tracker blocker. Privacy Badger was created and
        is ran by the <a href="https://www.eff.org/">Electronic Frontier Foundation</a> which is a non-profit organization that has
        a focus on restoring privacy online. We will mention more extensions and tools created by them throughout this
        article.
    </li>
    <li>
        <a href="https://www.eff.org/https-everywhere"> HTTPS Everywhere</a>: Attempts to encrypt as much of what you
        access as possible.
    </li>
    <li>
        <a href="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"> Cookie AutoDelete</a>: Automatically
        deletes cookies for you. It allows you to add your own custom settings about how you want to manage this.
    </li>
    <li>
        <a href="https://addons.mozilla.org/firefox/addon/canvasblocker/"> Canvas Blocker</a>: Attempts to block the
        JavaScript APIs that are used to fingerprint browsers.
    </li>
    <li>
        <a href="https://addons.mozilla.org/firefox/addon/noscript/"> NoScript</a>: Allows you to completely disable
        Javascript. uBlock and uMatrix have this functionality as well but NoScript makes it simple and easy to do. This
        is helpful to toggle on sites that you do not trust while continueing to use JavaScript on sites that you do
        trust because completely disabling JavaScript will break most sites even if they are not doing anything
        malicious.
    </li>
    <li>
        <a href="https://addons.mozilla.org/firefox/addon/user-agent-switcher-revived/"> User-Agent Switcher</a>: Lets
        you change your user-agent string that websites see when you visit your site.
    </li>

</ul>


While we linked to Firefox extensions above, you should be able to find these extensions on Chrome and Chromium based
browsers as well.

<br><br>



{% endblock %}
