<!DOCTYPE html>
<html>
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <a href="/" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="75px" height="75px" alt=""></a>

    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <br>
        <h1> Why We Made Second Page </h1>
        <hr/>
        <div class="article">
            We made <a href="/secondpage"> Second Page</a> mostly for fun. It's an easy way to find sites and services that are smaller
            and not optimized for search engine rankings, but often still interesting and relevant.

            <br><br>

            We also made Second Page to test out our <a href="https://www.mojeek.com/"> Mojeek</a> integration. This
            is a good way to test their service without fully integrating its results into our main search.

            <br><br>

        </div>

    </div>
    <div class="side-right"></div>
</div>

<div class="navbar">
    <a href="/about">About</a>
    <a href="/content"> Blog </a>
    <a href="/pro"> Infinity Pro </a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/contact">Contact</a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
(function(f, a, t, h, o, m){
a[h]=a[h]||function(){
(a[h].q=a[h].q||[]).push(arguments)
};
o=f.createElement('script'),
m=f.getElementsByTagName('script')[0];
o.async=1; o.src=t; o.id='fathom-script';
m.parentNode.insertBefore(o,m)
})(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'FZMFTWHZ');
fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>

</html>
