{% extends 'articles/article_layout_english.html' %}
{% block content %}
<style>
    /* unvisited link */
    a.link_container:link {
        color: rgb(31, 93, 213);
        text-decoration: none;
    }

    /* visited link */
    a.link_container:visited {
        color: rgb(31, 93, 213);
        text-decoration: none;
    }

    /* mouse over link */
    a.link_container:hover {
        color: rgb(31, 93, 213);
        text-decoration: none;
    }

    a.link_container:active {
        box-shadow: inset 0 1px 0 1px rgba(132, 138, 184, 0.11), inset 0 1px 3px 0 rgba(93, 100, 148, 0.5);
        transition: none !important;
    }

    .result_container {
        background-color: white;

        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 12px;
        padding-right: 12px;

        border-radius: 3px;
        font-size: 20px;

        border: 1pt solid rgb(210, 210, 210);

    }

    .result_container:hover {
        border: 1pt solid red;
        box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.15),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.06)
    }

</style>

<br><br><br>
<div style="text-align: center; margin-bottom: 100px;">
    <a href="{{surprise_search}}" class="link_container result_container">
        <span> Suprise Me! </span>
    </a><br>
</div>

{% endblock %}
