<!DOCTYPE html>
<html lang="de">
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <img onClick="window.open('/de', '_self')"
         style="vertical-align:middle; cursor: pointer; border-radius: 50%;"
         src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png"
         width="75px" height="75px" alt="">

    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <br>

        <div class="article">
            <h1> Über Infinity Search </h1>
            <hr/>
            <h2> Was Wir Tun </h2>
            <!--            Infinity Search ist eine Suchmaschine für Privatsphäre, die entwickelt wurde, um alle mit einem breiteren Verständnis des Internets zu verbinden. Wir-->
            <!--            unseren Service so gestaltet, dass die Menschen effizienter und effektiver sein können, wenn sie online suchen. Wir-->
            <!--            dies zu tun, indem Sie schnelle und relevante Ergebnisse bereitstellen und gleichzeitig die Suche nach der gleichen Sache auf-->
            <!--            andere Internet-Ressourcen, wenn unsere Ergebnisse nicht ausreichen.-->

            Infinity Search ist eine Suchmaschine für eure Privatsphäre. Die Suchmaschine wurde entwickelt, um alle mit
            einem breiteren Verständnis des Internets zu verbinden. Wir haben unseren Service so gestaltet, dass die
            Menschen effizienter und effektiver sein können, wenn sie diese Suchmaschine nutzen. Wir können dies
            realisieren, indem Sie schnellere und relevantere Ergebnisse bereitgestellt bekommen. Gleichzeitig können
            Sie nach den gleichen Ergebnissen suchen, wie bei anderen Internet Ressourcen, wenn unsere Ergebnisse nicht
            ausreichen sollten.

            <hr/>

            <h2> Warum Wir Infinity-Search gemacht haben </h2>

            <!--            Wir haben Infinity Search durchgeführt, damit die Menschen das Internet in einer effizienteren, effektiveren und-->
            <!--            angenehmer Weg. Wenn Sie mit aktuellen Suchmaschinen nicht finden können, was Sie auf der ersten Seite suchen,-->
            <!--            die allgemeine Regel ist, dass Sie auch aufgeben können. Es gibt jedoch mehrere andere Suchmaschinen und-->
            <!--            Ressourcen online mit ihren eigenen Algorithmen und Ergebnissen, die wahrscheinlich haben, was Sie suchen.-->
            <!--            Viele Menschen sind sich einiger dieser Seiten nicht bewusst und es wäre unbequem für sie, die gleiche zu suchen-->
            <!--            auf mehreren von ihnen. Wir haben diesen Service gemacht, um dieses Problem zu lösen.-->

            <!--            Der zweite Grund für diesen Dienst ist, dass die Leute eine andere Suchmaschine haben können-->
            <!--            die ihre <a href="/privacy/de"> Privatsphäre </a> schätzt. Die Menschen haben ein Recht auf ihre Privatsphäre und viele der-->
            <!--            aktuelle Suchmaschinen tun alles, um ihre Nutzer zu verfolgen und zu identifizieren. Wir wollten eine Suche machen-->
            <!--            Motor, den Menschen verwenden können, ohne sich Sorgen machen zu müssen, dass ihre Privatsphäre verletzt wird. Unser Service ist nicht-->
            <!--            sogar Cookies verwenden (und wird es auch nie tun).-->


            Wir haben Infinity Search entwickelt, damit Ihr das Internet auf einen effizienteren, effektiveren und
            angenehmeren Weg nutzen könnt. Sollten sie was mit dem gänigen Suchmaschinen nicht finden können, so ist
            unsere regel das sie auch aufgeben können. Es gibt jedoch mehrere andere Suchmaschinen und Online-Ressourcen
            mit ihren eigenen Algorithmen und Ergebnissen, die wahrscheinlich die Ergebnisse haben, die sie Suchen.
            Viele Menschen sind sich dieser Seiten nicht bewusst und es wäre unbequem für sie, mehrere Suchmaschinen zu
            nutzen. Wir haben diesen Service gemacht, um dieses Problem zu lösen.

            Der zweite Grund für diesen Dienst
            ist, dass die Leute eine Suchmaschine nutzen können die ihre <a href="/privacy/de"> privatsphäre</a>
            schützt. Ihr habt ein Recht auf
            eure Privatsphäre und viele der aktuelle Suchmaschinen tun alles, um ihre Nutzer zu verfolgen und zu
            identifizieren. Wir wollten eine Suche entwickeln, die es euch ermöglicht diese sorgenfrei zu nutzen. Unser
            Service verwendet keine Cookies (und wird es auch nie tun).

            <hr/>
            <h2> Wie Wir Diesen Service Am Laufen Halten </h2>

            <!--            Unser Service wird durch Nicht-Tracking-Werbung finanziert. Das bedeutet, dass wir auch bei Werbung-->
            <!--            niemals Anreize haben, unsere Nutzer zu verfolgen oder zu identifizieren. Wir entwickeln auch eine-->
            <!--            <a href="/pro/de"> Pro-Version </a>, die eine Desktop-Anwendung mit benutzerdefinierten Einstellung und keine Werbung ist.-->
            <!--            <br>-->

            Unser Service wird durch Nicht-Tracking-Werbung finanziert. Das bedeutet, dass wir auch bei Werbung niemals
            Anreize haben, unsere Nutzer zu verfolgen oder zu identifizieren. Wir entwickeln auch eine
            <a href="/pro/de"> Pro-Version</a>, die
            eine Desktop-Anwendung mit benutzerdefinierten Einstellung und eine Werbungfreie Umgebung beinhaltet.
            <br>

        </div>

    </div>
    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about/de">Über</a>
    <a href="/content/de"> Blog </a>
    <a href="/pro/de"> Infinity Pro </a>
    <a href="/privacy/de"> Datenschutz </a>
    <a href="/contact/de">Kontakt</a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
    (function (f, a, t, h, o, m) {
        a[h] = a[h] || function () {
            (a[h].q = a[h].q || []).push(arguments)
        };
        o = f.createElement('script'),
            m = f.getElementsByTagName('script')[0];
        o.async = 1;
        o.src = t;
        o.id = 'fathom-script';
        m.parentNode.insertBefore(o, m)
    })(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'FZMFTWHZ');
    fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>

</html>
