<!DOCTYPE html>
<html lang="de">
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <a href="/de" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="75px" height="75px" alt=""></a>
    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">

        <br>

        <div class="article">

            <h1> Infinity Search-Datenschutzrichtlinie </h1>
            <hr/>

            <h2> Gesammelte Informationen </h2>

            We use <a href="https://usefathom.com/"> Fathom Analytics</a>, um den Standortverkehr zu überwachen. das
            Service ermöglicht es uns, Site-Nutzungsmetriken zu erhalten und gleichzeitig die Privatsphäre unserer Nutzer zu respektieren.
            Es sagt uns, wie viele Personen unsere Website nutzen, speichert aber keine Informationen darüber, wer
            die Benutzer sind und es installiert keine Cookies auf Ihrem Gerät.

            <hr/>

            <h2> Nicht erfasste Informationen </h2>

            Wir erheben oder protokollieren keine Daten über die einzelnen Nutzer, die auf diese Website zugreifen. Das bedeutet, dass wir
            IP-Adressen oder Benutzer-Agent-Zeichenfolgen protokollieren. Wir verwenden auch überhaupt keine Cookies, was eine der
            gemeinsame Wege, dass andere Websites versuchen, Sie online zu verfolgen, auch nachdem Sie ihre Website verlassen haben.

            <hr/>

            <h2> Geteilte Informationen </h2>

            Da wir APIs von Drittanbietern verwenden, um die Suchergebnisse zu sammeln, können diese Dienste die
            Suchen, die wir machen. Sie können jedoch nicht sehen, wer die Suche durchgeführt hat, weil
            erscheint ihnen als unser Service, der die Suche macht. So funktioniert
            <a href="https://duckduckgo.com/"> DuckDuckGo</a> genauso gut.

            <hr/>

            <h2> Wie wir Ihre Privatsphäre schätzen </h2>

            Wir schätzen Ihre Privatsphäre hier, indem wir uns einfach nie von der beschriebenen Datenschutzerklärung abwenden.
            Oben. Unser Modell wurde entwickelt, um die Privatsphäre aller unserer Nutzer zu respektieren.

        </div>

    </div>
    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about/de">Über</a>
    <a href="/content/de"> Blog </a>
    <a href="/pro/de"> Infinity Pro </a>
    <a href="/privacy/de"> Datenschutz </a>
    <a href="/contact/de">Kontakt</a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
(function(f, a, t, h, o, m){
a[h]=a[h]||function(){
(a[h].q=a[h].q||[]).push(arguments)
};
o=f.createElement('script'),
m=f.getElementsByTagName('script')[0];
o.async=1; o.src=t; o.id='fathom-script';
m.parentNode.insertBefore(o,m)
})(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'FZMFTWHZ');
fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>



</html>
