<!DOCTYPE html>
<html lang="de">
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <img onClick="window.open('/de', '_self')"
         style="vertical-align:middle; cursor: pointer; border-radius: 50%;"
         src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png"
         width="75px" height="75px" alt="">

    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <br>

        <h1> Infinity Search Pro (in Kürze) </h1>
        <hr/>
        <div class="article">
            <h2> Was Es Ist </h2>

            Infinity Search Pro ist eine Desktop-Anwendung für Infinity Search, die Überintegrationen hat
            von mehreren weiteren Websites und die Möglichkeit, Ihre eigenen benutzerdefinierten Einstellungen zu verwalten, die
            lokal auf Ihrem Computer gespeichert werden.

            <hr/>

            <h2>Warum Verwenden Sie Es </h2>
            <p> Diese Anwendung soll die Art und Weise ändern, wie Menschen über den Zugriff auf Informationen nachdenken
                im Internet. Infinity Search Desktop ist so konzipiert, dass der Benutzer
                Erfahrung besser als jeder andere Service da draußen. Da die Suchmaschine auch
                Desktop-Integration sein, hat es Ergänzungen wie benutzerdefinierte Verknüpfungen und Einstellungen, die
                werden vor Ort gespeichert, um das Erlebnis noch effizienter und angenehmer zu gestalten. </p>
            <br><br>

        </div>

        <br><br>

    </div>
    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about/de">Über</a>
    <a href="/content/de"> Blog </a>
    <a href="/pro/de"> Infinity Pro </a>
    <a href="/privacy/de"> Datenschutz </a>
    <a href="/contact/de">Kontakt</a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
    (function (f, a, t, h, o, m) {
        a[h] = a[h] || function () {
            (a[h].q = a[h].q || []).push(arguments)
        };
        o = f.createElement('script'),
            m = f.getElementsByTagName('script')[0];
        o.async = 1;
        o.src = t;
        o.id = 'fathom-script';
        m.parentNode.insertBefore(o, m)
    })(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'FZMFTWHZ');
    fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>


</html>
