<!DOCTYPE html>
<html>
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <a href="/" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="75px" height="75px" alt=""></a>

    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <br>

        <div class="article">
            <h1> About Infinity Search </h1>
            <hr/>
            <h2> What We Do </h2>
            Infinity Search is a privacy search engine built to connect everyone to a broader grasp of the internet. We
            designed our service so that people can be more efficient and effective when they are searching online. We
            do this by providing quick and relevant results while also making it easy to search for the same thing on
            other internet resources if our results are not enough.
            <hr/>

            <h2> Why We Made Infinity Search </h2>

            We made Infinity Search so that people could use the internet in a more efficient, effective, and
            enjoyable way. With current search engines, if you can't find what you're searching for on the first page,
            the general rule is that you may as well give up. There are, however, several other search engines and internet
            resources online with their own algorithms and results that will probably have what you are searching for.
            Many people are unaware of some of these sites and it would be inconvenient for them to search the same
            thing on several of them. We made this service to solve this problem.

            The second reason for making this service is so that people can have another search engine
            that values their <a href="/privacy"> privacy</a>. People have a right to their privacy and many of the
            current search engines do everything that can to track and identify their users. We wanted to make a search
            engine that people can use without having to worry about their privacy being violated. Our service doesn't
            even use cookies (and never will).

            <hr/>
            <h2> How We Keep This Service Going </h2>
            Our service is funded by non-tracking advertisements. This means that even with advertisements, we will
            never be incentivized to track or identify our users. We are also developing a <a href="/pro">
            pro version</a> that is a desktop application with custom setting and no advertisements.
            <br>

        </div>

    </div>
    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about">About</a>
    <a href="/content"> Blog </a>
    <a href="/pro"> Infinity Pro </a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/contact">Contact</a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
    (function (f, a, t, h, o, m) {
        a[h] = a[h] || function () {
            (a[h].q = a[h].q || []).push(arguments)
        };
        o = f.createElement('script'),
            m = f.getElementsByTagName('script')[0];
        o.async = 1;
        o.src = t;
        o.id = 'fathom-script';
        m.parentNode.insertBefore(o, m)
    })(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'FZMFTWHZ');
    fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>

</html>
