<!DOCTYPE html>
<html>
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <a href="/es" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="75px" height="75px" alt=""></a>

    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <br>
        <div class="article">
            <h1> Acerca De Infinity Search </h1>
            <hr/>
            <h2> Lo Que Hacemos </h2>

            Infinity Search es un motor de búsqueda que respeta la privacidad construido para conectar a todo el mundo a
            una mayor comprensión del internet. Diseñamos nuestro servicio para que la gente pueda ser mas eficiente y
            efectiva cuando están buscando algo en linea. Logramos esto al proporcionar resultados rápidos y relevantes
            mientras también facilitando la búsqueda de lo mismo en otros recursos de Internet si nuestros resultados
            no son suficientes.

            <hr/>

            <h2> Por Qué Hicimos Infinity Search </h2>

            Hicimos Infinity Search para que la gente pudiera usar Internet de una manera más eficiente, efectiva y
            agradable. Con los actuales motores de búsqueda, si no puedes encontrar lo que buscas en la primera página,
            la regla general es que también puedes renunciar. Sin embargo, existen otros motores de búsqueda y recursos
            de Internet en línea con sus propios algoritmos y resultados que probablemente tengan lo que estás buscando.
            Mucha gente no conoce algunos de estos sitios y sería inconveniente para ellos buscar lo mismo en varios
            de ellos. Hicimos este servicio para resolver este problema.
            <br><br>
            La segunda razón para hacer este servicio es
            para que la gente pueda tener otro motor de búsqueda que valore su privacidad. La gente tiene derecho a su
            privacidad y muchos de los motores de búsqueda actuales hacen todo lo posible para rastrear e identificar a
            sus usuarios. Queríamos hacer un motor de búsqueda que la gente pueda usar sin tener que preocuparse de que
            su privacidad sea violada. Nuestro servicio ni siquiera utiliza cookies (y nunca lo hará).


            <hr/>
            <h2> Cómo Mantenemos Este Servicio </h2>

            Nuestro servicio se financia con anuncios no rastreables. Esto significa que incluso con los anuncios,
            nunca nos incentivarán a rastrear o identificar a nuestros usuarios. También estamos desarrollando una
            versión pro que es una aplicación de escritorio con configuración personalizada y sin anuncios.

            <br>
        </div>
    </div>
    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about/es">Acerca De</a>
    <a href="/content/es"> Blog </a>
    <a href="/pro/es"> Infinity Pro </a>
    <a href="/privacy/es">Política De Privacidady</a>
    <a href="/contact/es"> Contacto </a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
    (function (f, a, t, h, o, m) {
        a[h] = a[h] || function () {
            (a[h].q = a[h].q || []).push(arguments)
        };
        o = f.createElement('script'),
            m = f.getElementsByTagName('script')[0];
        o.async = 1;
        o.src = t;
        o.id = 'fathom-script';
        m.parentNode.insertBefore(o, m)
    })(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'FZMFTWHZ');
    fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>

</html>
