<!DOCTYPE html>
<html>
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <a href="/es" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="75px" height="75px" alt=""></a>

    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <br>
        <div class="article">
            <h1> Contáctenos </h1>
            <hr/>
            <h2> Enviarnos Un Mensaje </h2>
            Puede ponerse en contacto con nosotros a través de correo electrónico en <a href="mailto:infinitysearch@protonmail.com">
            infinitysearch@protonmail.com </a>
            <hr/>
            <h2> Síguenos En Twitter </h2>
            Manténgase al día con nosotros en <a href="https://twitter.com/InfinitySearch1"> https://twitter.com/InfinitySearch1 </a>
            <hr/>
            <h2> Consulte Nuestros repositorios en GitLab </h2>
            Vea nuestros proyectos de código abierto y código en <a href="https://gitlab.com/infinitysearch"> https://gitlab.com/infinitysearch </a>
            <hr/>
            <h2> Descargar Nuestra Extensión De Firefox </h2>
            Descargue nuestra extensión para obtener un acceso directo personalizado a nuestro sitio en
            <a href="https://addons.mozilla.org/en-US/firefox/addon/infinity-search">https://addons.mozilla.org/en-US/firefox/addon/infinity-search</a>

            <br>
        </div>

    </div>

    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about/es">Acerca De</a>
    <a href="/content/es"> Blog </a>
    <a href="/pro/es"> Infinity Pro </a>
    <a href="/privacy/es">Política De Privacidady</a>
    <a href="/contact/es"> Contacto </a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
(function(f, a, t, h, o, m){
a[h]=a[h]||function(){
(a[h].q=a[h].q||[]).push(arguments)
};
o=f.createElement('script'),
m=f.getElementsByTagName('script')[0];
o.async=1; o.src=t; o.id='fathom-script';
m.parentNode.insertBefore(o,m)
})(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'FZMFTWHZ');
fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>



</html>
