<!DOCTYPE html>
<html>
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <a href="/es" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="90px" height="90px" alt=""></a>

    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;"> INFINITY SEARCH </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <div class="searchContainment Site-content">
            <form action="/results/es" method="post">
                <p class="search">
                    <input type="text" placeholder="Busca Lo Que Sea En La Web" name="Search" width="300">
                    <button style="background-color: white; padding: 13px 20px;">
                        <i class="fa fa-search" style="font-size: 32px; color: rgb(31, 93, 213);"></i>
                    </button>
                    <br>
                </p>
            </form>
            <div>
            </div>
            <div class="description">
                {{ description }}
                <a href="about/es" style="color: rgb(68,149,212); font-size: 20px"> Más información sobre Infinity Search</a>
                <br><br>


            </div>
        </div>
    </div>
    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about/es">Acerca De</a>
    <a href="/content/es"> Blog </a>
    <a href="/pro/es"> Infinity Pro </a>
    <a href="/privacy/es">Política De Privacidady</a>
    <a href="/contact/es"> Contacto </a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
(function(f, a, t, h, o, m){
a[h]=a[h]||function(){
(a[h].q=a[h].q||[]).push(arguments)
};
o=f.createElement('script'),
m=f.getElementsByTagName('script')[0];
o.async=1; o.src=t; o.id='fathom-script';
m.parentNode.insertBefore(o,m)
})(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'FZMFTWHZ');
fathom('trackPageview');
</script>
<!-- / Fathom -->

</body>

</html>
