<!DOCTYPE html>
<html>
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <img onClick="window.open('/es', '_self')" style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png"
     width="75px" height="75px" alt="">

    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">

        <br>

        <div class="article">

            <h1> Política De Privacidad De Infinity Search </h1>
            <hr/>

            <h2> Información Recopilada </h2>

            Usamos <a href="https://usefathom.com/"> Fathom Analytics</a> para monitorear el tráfico del sitio. éste
            el servicio nos permite obtener métricas de uso del sitio al mismo tiempo que respetamos la privacidad de nuestros usuarios.
            Nos dice cuántas personas están utilizando nuestro sitio web, pero no almacena ninguna información sobre quién
            los usuarios son y no instala cookies en su dispositivo.

            <hr/>

            <h2> Información No Recopilada </h2>

            No recopilamos ni registramos datos sobre los usuarios individuales que acceden a este sitio web. Esto significa que no
            registrar direcciones IP o cadenas de agente de usuario. Tampoco utilizamos cookies en absoluto, que es una de las
            formas comunes que otros sitios web intentan rastrearen en línea, incluso después de que haya dejado su sitio.

            <hr/>

            <h2> Información Compartida </h2>

            Dado que estamos utilizando API de terceros para recopilar los resultados de búsqueda, esos servicios pueden
            búsquedas que hacemos. No pueden ver, sin embargo, quién hizo la búsqueda porque
            se les aparece como nuestro servicio haciendo la búsqueda. Esta es la misma manera en que
            <a href="https://duckduckgo.com/"> DuckDuckGo</a> también funciona.

            <hr/>

            <h2> Cómo Valoramos Su Privacidad </h2>

            Valoramos su privacidad aquí simplemente sin alejarse de la política de privacidad descrita
            encima. Nuestro modelo está diseñado para respetar la privacidad de todos nuestros usuarios.

        </div>

    </div>
    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about/es">Acerca De</a>
    <a href="/content/es"> Blog </a>
    <a href="/pro/es"> Infinity Pro </a>
    <a href="/privacy/es">Política De Privacidady</a>
    <a href="/contact/es"> Contacto </a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
(function(f, a, t, h, o, m){
a[h]=a[h]||function(){
(a[h].q=a[h].q||[]).push(arguments)
};
o=f.createElement('script'),
m=f.getElementsByTagName('script')[0];
o.async=1; o.src=t; o.id='fathom-script';
m.parentNode.insertBefore(o,m)
})(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
fathom('set', 'siteId', 'FZMFTWHZ');
fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>



</html>
