<!DOCTYPE html>
<html>
<head>
    <title>Infinity Search</title>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/png' href='https://i.postimg.cc/7Lwth4Th/Infinity-Search-Logo-1-dragged.png'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
</head>
<body class="Site">
<div class="top"></div>

<div style="text-align: center; padding-bottom: 15px;">
    <a href="/es" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="75px" height="75px" alt=""></a>


    <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
</div>

<div class="search-container">
    <div class="side-left"></div>
    <div class="middle">
        <br>

        <h1> Infinity Search Pro (Próximamente) </h1>
        <hr/>
        <div class="article">
            <h2>What It Is </h2>

            Infinity Search Pro es una aplicación de escritorio para Infinity Search que tendrá integraciones
            de varios sitios web más y la capacidad de administrar sus propios ajustes personalizados que pueden ser
            localmente en su computadora.

            <hr/>

            <h2>Por Qué Usarlo </h2>
            <p> Esta aplicación está destinada a cambiar la forma en que la gente piensa sobre el acceso a la información
                en Internet. Infinity Search Desktop está diseñado de una manera que hace que el usuario
                experiencia mejor que cualquier otro servicio por ahí. Dado que el motor de búsqueda también
                ser una integración de escritorio, tiene adiciones como accesos directos personalizados y tener ajustes que
                se guardan localmente para hacer la experiencia aún más eficiente y agradable.  </p>
            <br><br>

        </div>

        <br><br>

    </div>
    <div class="side-right"></div>
</div>

<div style="margin-top: 20px"></div>

<div class="navbar">
    <a href="/about/es">Acerca De</a>
    <a href="/content/es"> Blog </a>
    <a href="/pro/es"> Infinity Pro </a>
    <a href="/privacy/es">Política De Privacidady</a>
    <a href="/contact/es"> Contacto </a>
</div>
<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
    (function (f, a, t, h, o, m) {
        a[h] = a[h] || function () {
            (a[h].q = a[h].q || []).push(arguments)
        };
        o = f.createElement('script'),
            m = f.getElementsByTagName('script')[0];
        o.async = 1;
        o.src = t;
        o.id = 'fathom-script';
        m.parentNode.insertBefore(o, m)
    })(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'FZMFTWHZ');
    fathom('trackPageview');
</script>
<!-- / Fathom -->
</body>


</html>
